<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <img alt="logo" height="30" src="assets/img/image001.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="username">
      <ion-label>Username</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mobile">
      <ion-label>Mobile</ion-label>
    </ion-segment-button>
  </ion-segment>
  <form (submit)="valiadteOTP()">
    <ion-list>
      <ion-item *ngIf="show.username">
        <ion-label color="primary" floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>

      <ion-item *ngIf="!show.username">
        <ion-label color="primary" floating>Mobile</ion-label>
        <ion-input type="number" [(ngModel)]="account.phone" name="number"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block> Send OTP</button>
      </div>

    </ion-list>
  </form>
</ion-content>