<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <img alt="logo" height="30" src="assets/img/image001.png">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h2>{{headingText}}</h2>
  <ion-list>
    <ion-item shadow *ngFor="let item of notificationData">
      <h2>{{item.Notification}}</h2>
      <p>{{(dateFormate(item.date) !== '') ? (dateFormate(item.date) | date: 'short') : " "}}</p>
      <!-- <p *ngIf="item.date=='0000-00-00 00:00:00'">{{item.date }}</p> -->
    </ion-item>
  </ion-list>
</ion-content>