<ion-header no-shadow>
  <ion-navbar >
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="goToLogin()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides; let i = index">
      <img [src]="slide.URL" class="slide-image" >
      <h2 *ngIf="i+1 == slides.length" class="slide-title">I got it</h2>
      <button *ngIf="i+1 == slides.length" ion-button icon-end large clear (click)="goToLogin()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>