page-reset-password {
    .toolbar-md-primary .toolbar-title-md{
        position: absolute;
        text-align: center;
    }
    .toolbar-ios-primary .toolbar-title-ios{
        text-align: center;
        position: relative;
        width: -webkit-fill-available;
    }
    .toolbar-md-primary .toolbar-background-md, .toolbar-ios-primary .toolbar-background-ios {
        background: #0B418B;
    }
}
