page-delivery-list {
    .item-input .label-md,
    .item-select .label-md,
    .item-datetime .label-md,
    .item-input .label-ios,
    .item-select .label-ios,
    .item-datetime .label-ios  {
        min-width: 40%;
    }
    .text-input-md, .text-input-ios {
        padding: 5px;
        border: 1px solid #ddd;
        font-size: 13px;
    }
    .list-md .item-block .item-inner,
    .list-md .item-input:last-child,
    .list-ios .item-block .item-inner,
    .list-ios .item-input:last-child {
        border: none;
    }
    ion-label {
        font-weight: 800;
    }
    [shadow] {
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, .3);
        margin-bottom: 5px;
        border-radius: 2px;
    }
    .bg-color{
        background-color: green;
    }
    .fontSize{
        font-size: 12px;
    }
    .list-md, .list-ios {
        margin: -10px 0 0px;
    }
    .selected{
        background-color: lightblue;
    }
    .toolbar-md-primary .toolbar-title-md{
        position: absolute;
        text-align: center;
    }
    .toolbar-ios-primary .toolbar-title-ios{
        text-align: center;
        position: relative;
        width: -webkit-fill-available;
    }
    .toolbar-md-primary .toolbar-background-md, .toolbar-ios-primary .toolbar-background-ios {
        background: #0B418B;
    }
    .item-block{
        margin: 0px 0px -10px 0px;
    }
    h2{
        margin-top: 5px;
        margin-bottom: 0rem;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
    }
    form{
        margin-top: 8px;
    }
}
