page-return-request {
.fontSize{
    font-size: 12px;
}
.item-input .label-md,
    .item-select .label-md,
    .item-datetime .label-md,
    .item-input .label-ios,
    .item-select .label-ios,
    .item-datetime .label-ios {
        min-width: 40%;
    }
    .text-input-md,
    .select.select-md, .text-input-ios,
    .select.select-ios {
        padding: 5px;
        border: 1px solid #ddd;
        font-size: 13px;
        width: 100%;
        margin: 0;
        max-width: 100%;
    }
    .list-md .item-block .item-inner,
    .list-md .item-input:last-child,
    .list-ios .item-block .item-inner,
    .list-ios .item-input:last-child {
        border: none;
    }
    ion-label {
        font-weight: 800;
    }
    .block {
        position: relative;
        .deleteIcon {
          position: absolute !important;
        //   color: #ffffff !important;
        //   margin-left: 80% !important;
        }
        .deleteIcon:before {
          font-size: 30px !important;
        }
    }
    .toolbar-md-primary .toolbar-title-md{
        position: absolute;
        text-align: center;
    }
    .toolbar-ios-primary .toolbar-title-ios{
        text-align: center;
        position: relative;
        width: -webkit-fill-available;
    }
    .toolbar-md-primary .toolbar-background-md, .toolbar-ios-primary .toolbar-background-ios {
        background: #0B418B;
    }
}

